name: Cache Workflow

on:
    push:
    workflow_dispatch: 

jobs:
    Npm_Test:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                node_version: [18,19,20]

        runs-on: ${{matrix.os}}

        steps:
            - name: Checkout Branch
              uses: actions/checkout@v4

            - name: Node Setup
              uses: actions/setup-node@v4

            - name: Caching 
              uses: actions/cache@v5
              with:
                path: node-modules
                key: ${{runner.os}}-node-module-${{ hashfiles('package-lock.json')}}

            - name: Install Npm
              run: |
                npm install

            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: node_modules-${{matrix.os}}-${{matrix.node_version}}
                path: node_modules
                
                