name: Solar System

on:
  push:
    branches: 
        - main
        - "feature/*"

  workflow_dispatch:

env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: ${{vars.MONGO_USERNAME}}
  MONGO_PASSWORD: ${{vars.MONGO_PASSWORD}}

concurrency: 
  group: Workflow
  cancel-in-progress: true

jobs:
  Unit_Testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
            node-version: v25.6.0

      - name: Installing Dependency
        run: |
            npm install

      # - name: Unit testing
      #   id: unit_test_id
      #   run: |
      #       npm test 
      #       pwd 
      #       ls -lrth


      - name: Upload Artifact
        if: failure() && steps.unit_test_id.outcome == 'failure' || steps.unit_test_id.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
            name: Unit_Test_Logs
            path: test-results.xml


    
  Unit_Coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Npm Download
        uses: actions/setup-node@v4

      - name: Install Node
        run: | 
          npm install

      - name: Get the Coverage Report
        run: |
          npm run coverage
        continue-on-error: true
        

      - name: Artifact Coverage Upload
        uses: actions/upload-artifact@v4
        with:
          name: Coverage Document
          path: coverage
        
      - name: Files Generated
        run: |
          pwd
          ls -lrth

  Docker_login:
    needs: [Unit_Coverage,Unit_Testing]
    runs-on: ubuntu-latest
    steps:
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  Docker_Build:
    needs: [Docker_login]
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Building Docker Image
        uses: docker/build-push-action@v6
        with:   
          context: .    # this is folder where the dockerfile is present (currently it is root folder)
          push: false
          tags: ${{vars.DOCKERHUB_USERNAME}}/solar-system:${{ github.sha }}          #can be considered as image-name
          
      - name: Image testing
        run: |
          docker images
          docker run --name solar-system-app -d \
            -p 3000:3000 \
            -e MONGO_URI:$MONGO_URI \
            -e MONGO_USERNAME:$MONGO_USERNAME \
            -e MONGO_PASSWORD:$MONGO_PASSWORD \
            ${{vars.DOCKERHUB_USERNAME}}/solar-system:${{github.sha}}

          echo testing image url using wget
          wget -q -O - localhost:3000/live    

        #-q is for quiet mode 
        #-O is for printing the output on terminal itself

  Docker_push:
    needs: [Docker_Build]
    runs-on: Ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Docker Login
        uses: docker/login-action@v3
        with:

          username: ${{vars.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      
      - name: Docker Build Again & push 
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{vars.DOCKERHUB_USERNAME}}/solar-system-app:${{github.sha}}
          push: true

  Ghcr_image_build_push:
    needs: [Docker_push]
    runs-on: ubuntu-latest
    permissions: 
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io     # we are logging into github ghcr.io
          username: ${{github.repository_owner}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Image Build
        uses: docker/build-push-action@v6
        with: 
          context: .
          push: true
          tags: ghcr.io/${{github.repository_owner}}/solar-system:${{github.sha}}

      




    