name: Solar System

on:
  push:
    branches: 
        - main
        - "feature/*"

  workflow_dispatch:

env:
    MONGO_URI: "mongodb+srv://supercluster.d83jj.mongodb.net/superData"
    MONGO_USERNAME: ${{vars.MONG0_USERNAME}}
    MONGO_PASSWORD: ${{vars.MONGO_PASSWORD}}

jobs:
  Unit_Testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
            node-version: v25.6.0

      - name: Installing Dependency
        run: |
            npm install

      - name: Unit testing
        run: |
            npm test >> npm_test.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
            name: Unit_Test_Logs
            path: npm_test.txt
        




    