name: Solar System

on:
  push:
    branches: 
        - main
        - "feature/*"

  workflow_dispatch:

env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: ${{vars.MONGO_USERNAME}}
  MONGO_PASSWORD: ${{vars.MONGO_PASSWORD}}

jobs:
  Unit_Testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
            node-version: v25.6.0

      - name: Installing Dependency
        run: |
            npm install

      - name: Unit testing
        id: unit_test_id
        run: |
            npm test 
            pwd 
            ls -lrth


      - name: Upload Artifact
        if: failure() && steps.unit_test_id.outcome == 'failure' || steps.unit_test_id.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
            name: Unit_Test_Logs
            path: test-results.xml


    
  Unit_Coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Npm Download
        uses: actions/setup-node@v4

      - name: Install Node
        run: | 
          npm install

      - name: Get the Coverage Report
        run: |
          npm run coverage

      - name: Artifact Coverage Upload
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Coverage Document
          path: Coverage
        
      - name: Files Generated
        continue-on-error: true
        run: |
          pwd
          ls -lrth
        




    